@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

@media only screen and (max-width: 800px) {
    body {
        padding: 50px 0;
    }

    #card {
        flex-direction: column;

        width: 80%;
    }

    #card #img {
        display: flex;
        justify-content: center;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0C0D0B;
    color: white;
}

#card {
    width: 70%;
    padding: 20px;
    background-color: #212625;
    border-radius: 20px;
    display: flex;
    gap: 20px;
}

#card #img img {
    width: 150px;
    height: 150px;
    outline: 3px solid #000000;
    border-radius: 50%;
}

#card #desc img{
    width: 26px;
    height: 26px;
}

#card #desc h1 {
    font-size: 23px;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
    color: white;
    display: flex;
    gap: 5px;
}

#card #desc h2 {
    font-size: medium;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    -webkit-background-clip: text;
    color: white;
    -webkit-text-fill-color: transparent;
    background-color:#FFF;
    background-image: -webkit-linear-gradient(left,#1132ea,#d96363,#73a6df,#9085fb,#52ca79);
}

#card #desc p {
    font-size: 15px;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
}

#proj {
    width: 70%;
    padding: 20px;
    display: flex;
    background-color: #212625;
    border-radius: 20px;
    gap: 20px;
}

#proj h1 {
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

#proj img{
    width: 17px;
    height: 17px;
}

#proj h2 {
    font-size: 15px;
    display: flex;
    gap: 5px;
}

#proj p {
    font-size: 15px;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
}

#proj ul{
    padding: 20px;
}

#proj li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    display: flex;
    gap: 5px;
    padding: 2px;
}

